.saffron{
    background-color: #FF671F;
    height: 300px;
}

.white{
    position: relative;
    background-color: #FFFFFF;
    height: 300px;
}

.green{
    background-color: #046A38;
    height: 300px;
}

body{
    background-color: antiquewhite;
}

.container{
    width: 100%;
    
    justify-content: center;

}

img{
    position: relative;
    height: 250px;
    width: 200px;
    left: 40%;
    top: 10%;
}